//-------------------------------------------------------------------
// Variable Library
//
// The purpose of the variable library is to have a centralized
// location for various reusable values for the Min Framework.
//
// Instead of hunting through the different Sass files to update
// values, simply change the variable in question to update all
// instances of that value.
//
//-------------------------------------------------------------------


// Dark Colors
$c-black:         #000;
$c-off-black:     #999;
$c-darker:        #888;
$c-dark:          #777;


// Medium Colors
$c-grey-dark:     #aaa;
$c-grey:          #ccc;
$c-grey-light:    #eee;

// Light Colors
$c-white:         #fff;


// Button Colors
$a--bg:           #0ae;
$a--hover:        #09d;
$a--active:       #08b;

$b--bg:           #3c5;
$b--hover:        #2b4;
$b--active:       #2a4;

$c--bg:           #d33;
$c--hover:        #c22;
$c--active:       #b22;


// Inputs
$c-focus:         #5ab;
