//-------------------------------------------------------------------
// Mixin to set btn background for inactive, active & hover states
//-------------------------------------------------------------------

// set default variables to be base button colors.
@mixin btn-style($bg: $c-off-black, $bg-hover: $c-darker, $bg-active: $c-dark) {
  background: $bg;

  &:hover {
    background: $bg-hover;
  }

  &:active, &:focus {
    background: $bg-active;
  }
}



@if $import-buttons == true {
//-------------------------------------------------------------------
// Button Styles & Classes
//-------------------------------------------------------------------

// Set Generic <button> and .btn styling.
// use .btn on any element to give it the styling of a button
.btn {
  @extend %no-underline;
  @extend %outline-0;
  @include btn-style;
  border: 0;
  border-radius: 10px; // rounded corners
  color: $c-white;
  cursor: pointer;
  display: inline-block; // Enables non-inline-block elements like <a>s to be buttons
  font-size: 2.5em;
  margin: .2em .3em .2em 0;
  padding: 15px 40px 16px;


  // *** NOTE ***
  // The following requires Sass 3.3+ to compile properly.
  // As the & appends the following partial selector to the
  // main .btn selector, and creates a new class.
  //
  // e.g. &-a{} will compile to .btn-a{}


  // Set colors for your buttons, see the button mixin at the top of this
  // file to see how the hex colors are allocated
  &-a {
    @include btn-style($a--bg, $a--hover, $a--active);
  }

  &-b {
    @include btn-style($b--bg, $b--hover, $b--active);
  }

  &-c {
    @include btn-style($c--bg, $c--hover, $c--active);
  }


  // Add this class to a <button> or element with a .btn class
  // to create a smaller sized button.
  &-sm {
    border-radius: 4px; /* rounded corners */
    font-size: .9em;
    padding: 10px 15px 11px;
  }

} // end .btn


//-------------------------------------------------------------------
// End @if
}
