@if $import-forms == true {
//-------------------------------------------------------------------
//  Form Elements
//-------------------------------------------------------------------

form > * {
  display: block;
  margin-bottom: 10px;
}

label > * {
  display: inline;
}

input, textarea {
  @extend %shared-font-size;
  border: 1px solid $c-grey;
  padding: 8px;

  &:focus {
    border-color: $c-focus;
  }
}


input[type='text'], textarea {
  -webkit-appearance: none; // make iOS inputs pretty
  width: 13em;
}


.addon {
  @extend %shared-font-size;
  box-shadow: 0 0 0 1px $c-grey;
  padding: 8px 12px;
}


//-------------------------------------------------------------------
// End @if
}
