//-------------------------------------------------------------------
//  General Min Styling
//-------------------------------------------------------------------

body,
textarea {
  font: 16px sans-serif;
  margin: 0;
}


// apply a smooth transition effect to an element's state change
.smooth {
  transition: all .2s;
}

.container {
  margin: auto;
  width: 1270px;

  @media(max-width:1310px) {
    margin: 0 20px;
    width: auto;
  }
}



// shared styling between btn and links in nav bars
%outline-0 {
  outline: 0;
  // when button or nav bar is focused don't show an outline
}

%no-underline {
  text-decoration: none;
}
