@if $import-grid == true{
//-------------------------------------------------------------------
//  Grid system responsive code is in _general.scss
//  A hack (for old IEs) for the grid system is located in _iehacks.scss
//-------------------------------------------------------------------

.row {
  line-height: 2em;
  margin-top: 2%;
  overflow: auto;
}

column {
  float: left;
  margin: auto 1%;
}

.c12 {
	width: 98%;
}
.c11 {
	width: 89.66%;
}
.c10 {
	width: 81.33%;
}
.c9 {
	width: 73%;
}
.c8 {
	width: 64.66%;
}
.c7 {
	width: 56.33%;
}
.c6 {
	width: 48%;
}
.c5 {
	width: 39.66%
}
.c4 {
	width: 31.33%;
}
.c3 {
	width: 23%;
}
.c2 {
	width: 14.66%;
}
.c1 {
	width: 6.33%;
}

//-------------------------------------------------------------------
// End @if
}
