@if $import-grid == true {
//-------------------------------------------------------------------
//  Grid system responsive code is in _general.scss
//
// Since every column has 2% padding (1% on each side) its width is
// (((its number/12) * 100)-2) percent (truncated, to avoid spillage.)
// Thus, c12 has width 98%.
//-------------------------------------------------------------------

.row {
  margin-top: 2%;
  overflow: auto; // needed for proper formed layout
}

.col {
  float: left;
}

.c12, .table {
  width: 100%;
}

$grid-list: (
  c1    8.33%,
  c2   16.66%,
  c3   25%,
  c4   33.33%,
  c5   41.66%,
  c6   50%,
  c7   58.33%,
  c8   66.66%,
  c9   75%,
  c10  83.33%,
  c11  91.66%,
);

@each $value in $grid-list {
  .#{nth($value, 1)} {
    width: nth($value, 2);
  }
}

@media (max-width:870px) {
  .row .col {
    width: 100%;
  }
}

//-------------------------------------------------------------------
// End @if
}
