@if $import-headings == true{
//-------------------------------------------------------------------
//  Headings
//-------------------------------------------------------------------

// add this class to any element to give it "title" styling
.title {
  font-size: 7em;
  margin: 0;
}

// Set style for <h1>
h1 {
  font-size: 4em;
  margin: 0;
}

// Sets style for <h2>
h2 {
  font-size: 2em;
}


//-------------------------------------------------------------------
// End @if
}
