@if $import-ie-hacks == true{
//-------------------------------------------------------------------
//  Internet Explorer Hacks
//-------------------------------------------------------------------

//  no hacks (outside of the ie grid hack found in the grid.scss file)

//-------------------------------------------------------------------
// End @if
}
