@if $import-inputs == true {
//-------------------------------------------------------------------
//  Inputs
//-------------------------------------------------------------------

// Styles to extend to all inputs
%global-inputs {
  font-size: .8em;
}


input, textarea {
  @extend %global-inputs;
  -webkit-appearance: none; // make iOS inputs pretty
  border: 1px solid $c-grey;
  outline: 0;
  padding: 6px;

  &:focus {
    border-color: $c-focus;
  }
}


input[type='text'], textarea {
  width: 13em;
}


.addon-front {
  @extend %global-inputs;
  box-shadow: 0 0 0 1px $c-grey;
  padding: 6px 11px;
}


//-------------------------------------------------------------------
// End @if
}
