@if $import-inputs == true{
//-------------------------------------------------------------------
//  Inputs
//-------------------------------------------------------------------

// Styles to extend to all inputs
%global-inputs {
  font-size: .8em;
}


textarea, input {
  @extend %global-inputs;
  	-webkit-appearance: none; // make iOS inputs pretty
  border: 1px solid #ccc;
  outline: 0;
  padding: 6px;

  &:focus {
    border-color: #5ab;
  }
}


textarea, input[type='text'] {
  width: 13em;
}


.addon-front {
  @extend %global-inputs;
  box-shadow: 0 0 0 1px #ccc;
  padding: 6px 11px;
}


//-------------------------------------------------------------------
// End @if
}
