@if $import-messages == true{
//-------------------------------------------------------------------
//  Messages
//-------------------------------------------------------------------

message {
  background: #ACE;
  display: block;
  padding: 2em 0;

  &.warning {
    background: #D99;
  }

  &.great {
    background: #9D9;
  }
}


//-------------------------------------------------------------------
// End @if
}
