@if $import-navbar == true{
//-------------------------------------------------------------------
//  Navigation Bar
//-------------------------------------------------------------------

.navbar {
  background: #000;
  color: #fff;
  height: 1.5em;
  // max-height: 1.5em; // needed for animations, uncomment to use
  padding: 1em 0 .6em;
  text-align: left;
  width: 100%;

  a {
    text-decoration: none;
  }

  input, button, .btn {
    margin-top: -20px;
    // This ensures that any buttons and inputs in the
    // navbar will not mess up its vertical alignment
  }

  // Update styling of .navbar for small screens
  @media(max-width:500px) {
    height: 7.5em;

    a {
      display: block;
      text-align: center;
    }
  }
}


.pagename {
  color: #fff;
  font-size: 22px;
  top: 1px;
  position: relative;
}


.navbar-link {
  color: #aaa;
  font-size: 14px;
  padding-right: 1em;
  position: relative;
  top: -1px;

  &:hover {
    color: #fff;
  }
}


//-------------------------------------------------------------------
// End @if
}
