@if $import-navbar == true {
//-------------------------------------------------------------------
//  Navigation Bar
//-------------------------------------------------------------------

// CSS reused in multiple selectors
%nav-global {
  background: $c-black;
  color: $c-white;
}



.nav {
  @extend %nav-global;
   // TODO: migrate to ems
   // (currently we don't use them because of iOS compatibility problems
   // -- has to do with unicode icon for close) */
  height: 24px;
  padding: 11px 0 15px;
  // Uncomment for animations
  // max-height: 1.5em;

  a {
    @extend %shared-font-size;
    @extend %no-underline;
    color: $c-grey-dark;
    padding-right: 1em;
    position: relative;
    top: -1px;

    &:hover {
      @extend %nav-global;
    }
  }

  .pagename {
    font-size: 22px;
    top: 1px;
  }

  .current {
    @extend %nav-global;
  }
}

.btn.btn-close {
  background: $c-black;
  float: right;
  font-size: 25px;
  margin-top: -54px;
  visibility: hidden;
}



// Update styling of .nav for small screens
@media(max-width:500px) {
  .btn.btn-close {
    visibility: visible;
  }

  .nav {
    overflow: hidden;
    // transition: max-height .5s ease-in-out, height .5s ease-in-out;

    &:focus {
      height: auto;
      // -- Necessary for animations
      // height: 100%;
      // max-height: 500px;
    }

    & div:before {
      background: $c-black;
      border-top: 3px solid;
      border-bottom: 10px double;
      content: '';
      float: right;
      height: 4px;
      position: relative;
      right: 3px;
      top: 14px;
      width: 20px;
    }

    a {
      display: block;
      padding: .5em 0;
      width: 50%;
    }
  }

  .pagename {
    margin-top: -11px;
  }
}

//-------------------------------------------------------------------
// End @if
}
