@if $import-tables == true {
//-------------------------------------------------------------------
//  Tables
//-------------------------------------------------------------------

.table {
  border-spacing: 0;

  th, td {
    padding: .5em;
    text-align: left;
  }

  tbody>*:nth-child(2n-1) {
    background: $c-grey; // Shade every other table row
    // We use tbody to ensure that we don't shade the heading
    // this preserves the order of the shading
  }
}


//-------------------------------------------------------------------
// End @if
}
