@if $import-tables == true{
//-------------------------------------------------------------------
//  Tables
//-------------------------------------------------------------------

table {
  border-spacing: 0;
  width: 100%;
}

tbody tr:nth-child(2n-1) {
  background: #ccc;
}

.table {
  th, td {
    line-height: 1.4em;
    padding: .5em;
    text-align: left;
  }
}


//-------------------------------------------------------------------
// End @if
}
