// ------------------------------------------------------------------
//  Core Styles of Min
// ------------------------------------------------------------------

@import 'general.scss';



// ------------------------------------------------------------------
//  Customize Optional Components
//
//  Set undesired components to false to exclude them from
//  the final Min CSS output.
// ------------------------------------------------------------------

$import-headings:                         true!default;

$import-buttons:                          true!default;

$import-inputs:                           true!default;

$import-navbar:                           true!default;

$import-tables:                           true!default;

$import-messages:                         true!default;

$import-icons:                            true!default;

$import-grid:                             true!default;

$import-ie-hacks:                         false!default;


// ------------------------------------------------------------------
//  Import Components based on above customization
// ------------------------------------------------------------------

@import 'button';
@import 'grid';
@import 'headings';
@import 'icons';
@import 'inputs';
@import 'navbar';
@import 'table';
@import 'iehacks';
