textarea,
input,
.addon-front,
.btn-sm,
.nav a {
  font-size: 14px;
}
textarea,
input {
  border: 1px solid #ccc;
  padding: 8px;
}
textarea:focus,
input:focus {
  border-color: #5ab;
}
textarea,
input[type='text'] {
  width: 13em;
  -webkit-appearance: none;
  /* make iOS inputs pretty */

}
.addon-front {
  padding: 8px 12px;
  box-shadow: 0 0 0 1px #ccc;
}
