.table th,
.table td {
  padding: .5em;
  text-align: left;
}
.table tbody > :nth-child(2n-1) {
  /* We use tbody to ensure that we don't shade the heading - this preserves the order of the shading */
  background: #ddd;
  /* Shade every other table row */
}
