.btn {
	background: #999;
	color: #fff;
	display: inline-block; /* Enables non-inline-block elements like <div>s to be buttons */
	font-size: 2.5em; 
	padding: 15px 40px 16px;
	text-decoration: none; 
	margin: .3em .2em 0 0;
	cursor: pointer;
	border: 0;
	outline: 0; /* when the button is focused, don't show an outline */
	border-radius: 10px; /* rounded corners */
}

.btn:hover {
	background: #888;
}

.btn:active,.btn:focus {
	background: #777;
}

.btn-a {
	background: #0ae;
	&:hover {
		background: #09d; /* darken(@btn-a-bg, 5%) */
	}

	&:active, &:focus {
		background: #08b; /* darken(@btn-a-bg, 10%) */
	}
}

.btn-b {
	background: #3c5;
	&:hover {
		background: #2b4; /* darken(@btn-b-bg, 5%) */
	}
	&:active, &:focus {
		background: #2a4; /* darken(@btn-b-bg, 10%) */
	}
}

.btn-c {
	background: #d33;
	&:hover {
		background: #c22; /* darken(@btn-c-bg, 5%) */
	}
	&:active, &:focus {
		background: #b22; /* darken(@btn-c-bg, 10%) */
	}
}

.btn-small {
	padding: 10px 15px 11px;
	font-size: .9em;
	border-radius: 4px; /* rounded corners */
}
