body, textarea {
	font-family: sans-serif;
	margin: 0;
	font-size: 16px;
}

.smooth {
	transition: all .2s;
}

@media (max-width:870px) {
	.row [class*='c']{
		width: 100%;
		display: block;
		margin: 1% auto;
	}
	.row:last-child column {
		margin-bottom: 2.5em;
	}
}

.container {
	width: 1270px;
	margin: auto;
}

@media(max-width:1310px) {
	.container {
		margin: 0 20px;
		width: auto;
	}
}
