textarea, input {
	outline: none;
	padding: 6px;
	font-family: sans-serif;
	&:focus {
		border: 1px solid #5ab;
	}
}

textarea, input[type='text'] {
	width: 13em;
}

.addon-front {
	padding: 6px 11px 6px 10px;
	margin-right: -2px;
	border-right: 0;
}

textarea, input, .addon-front {
	border: 1px solid #ccc;
	font-size: .8em;
}
