textarea, input, .addon-front {
	font-size: .8em;
}

textarea, input {
	border: 1px solid #ccc;
	outline: 0;
	padding: 6px;
	&:focus {
		border-color: #5ab;
	}
}

textarea, input[type='text'] {
	width: 13em;
}

.addon-front {
	padding: 6px 11px;
	box-shadow: 0 0 0 1px #ccc;
}
