.nav, .nav .current, .nav a:hover {
	background: #000;
	color: #fff;
}

.nav {
	height: 24px;
	padding: 11px 0 15px;
	/* TODO: migrate to ems (currently we don't use them because of iOS compatibility problems (has to do with unicode icon for close)) */
	/* Uncomment for animations
	max-height: 1.5em;
	*/
}

.nav a {
	padding-right: 1em;
	color: #aaa;
	top: -1px;
	position: relative;
}

.btn.btn-close {
	background: #000;
	visibility: hidden;
	float: right;
	margin-top: -54px;
	font-size: 25px;
}

.nav .pagename {
	font-size: 22px;
	top: 1px;
}

@media (max-width:500px) {
	.btn.btn-close {
		visibility: visible;
	}
	.nav {
		/* transition: max-height .5s ease-in-out, height .5s ease-in-out; */
		overflow: hidden;
	}
	.pagename {
		margin-top: -11px;
	}
	.nav:focus {
		/* Necesary for animations
		max-height: 500px;
		height: 100%;
		*/
		height: auto;
	}
	.nav div:before {
		content: '';
		border-top: 3px solid;
		border-bottom: 10px double;
		float: right;
		height: 4px;
		right: 3px;
		top: 14px;
		width: 20px;
		position: relative;
		background: #000;
	}
	.nav a {
		padding: .5em 0;
		width: 50%;
		display: block;
	}
}
